.onetwo {
    width: 30%;
    margin: 5vh;
    background-color: rgb(60, 60, 60);
    height: 60vh;
    padding: 4vh;
    border-radius: 3vh;
    justify-content: right;
    right: 0;
}

.one {
    display: flex;
    min-height: 70vh;
    padding: 4vh;
    height: fit-content;
    background-color: black;
    background-image: url(../assets/mpgbg.jpg);
    color: #f1d403;
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
}

.two {
    height: 50vh;
    width: 100%;
    background-color: #f1d403;
    offset-position: -100%;
    offset-anchor: center;
}

.onetwo h3 {
    font-family: coordinates,monospace;
    font-weight: 400;
    font-style: normal; 
}

.onetwo h1 {
    font-family: coordinates,monospace;
    font-weight: 600;
    font-style: normal; 
}

.onetwo bold {
    text-decoration: solid;
    font-style: bold;
    font-weight: 1000;
    color: #ffe100;
}

@media (max-width: 125vh) {
    .onetwo {
        width: 50%;
        font-size: 2vh;
    }
}

@media (max-width: 60vh) {
    .onetwo {
        width: 90%;

    }
    
}




