.onetwo {
    width: 30%;
    margin: 5vh;
    background-color: rgb(60, 60, 60);
    height: 60vh;
    padding: 4vh;
    border-radius: 3vh;
    justify-content: right;
    right: 0;
}

.one {
    display: flex;
    min-height: 70vh;
    padding: 4vh;
    height: fit-content;
    background-color: black;
    background-image: url(https://cdn.vlta.net/img/vd/mpgbg.jpg);
    color: #f1d403;
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
}


.onetwo h3 {
    font-family: coordinates,monospace;
    font-weight: 400;
    font-style: normal; 
    font-size: 2.5vh;
}

.onetwo span {
    font-family: coordinates,monospace;
    font-weight: 600;
    font-style: normal; 
}

.onetwo bold {
    text-decoration: solid;
    font-style: bold;
    font-weight: 1000;
    color: #ffe100;
}

.onetwo .maintext {
    font-family: coordinates,monospace;
    font-weight: 600;
    font-style: normal; 
    font-size: 3.5vh;
    color:rgba(255, 0, 0, 0);
    background:
        linear-gradient(-90deg,#f1d403 5px,#0000 0) 10px 0,
        linear-gradient(#f1d403 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
        b .7s infinite steps(1),   
        t calc(var(--n)*.1s) steps(var(--n)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}


.two {
    height: 50vh;
    width: 100%;
    background-color: #5e5e5e;
    height: 50vh;
    font-family: basic-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 0, 0);
    padding-top: 3vh;
    width: 100%;
}
.two h1 {
    font-weight: 600;
    font-size: 7.5vh;
    margin: 4vh;
    opacity: 1;
}

.two a {
    text-decoration: none;
}

.two li {
    color: rgb(230, 241, 241);
    text-decoration: none;
    font-size: 6vh;
    margin-left: 5vh;
    opacity: 1;
    width: fit-content;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.2ms;
}

.two li:hover {
    color: rgb(0, 0, 0);
}

@media (max-width: 105vh) {
    .onetwo {
        width: 50%;
        font-size: 2vh;
    }
}

@media (max-width: 60vh) {
    .onetwo {
        width: 90%;

    }
    
}




